
BUS/bin/Debug/net6.0/BUS.dll
BUS/bin/Debug/net6.0/BUS.pdb
BUS/bin/Debug/net6.0/Common.dll
BUS/bin/Debug/net6.0/Common.pdb
BUS/bin/Debug/net6.0/DAL.dll
BUS/bin/Debug/net6.0/DAL.pdb
BUS/bin/Debug/net6.0/Entity.dll
BUS/bin/Debug/net6.0/Entity.pdb
BUS/obj/Debug/net6.0/BUS.assets.cache
BUS/obj/Debug/net6.0/BUS.csproj.AssemblyReference.cache
BUS/obj/Debug/net6.0/BUS.csproj.CoreCompileInputs.cache
BUS/obj/Debug/net6.0/BUS.csproj.FileListAbsolute.txt
BUS/obj/Debug/net6.0/BUS.dll
BUS/obj/Debug/net6.0/BUS.GeneratedMSBuildEditorConfig.editorconfig
BUS/obj/Debug/net6.0/BUS.pdb
BUS/obj/Debug/net6.0/ref/BUS.dll
BUS/obj/Debug/net6.0/refint/BUS.dll
Common/bin/Debug/net6.0/Common.dll
Common/bin/Debug/net6.0/Common.pdb
Common/obj/Debug/net6.0/Common.assets.cache
Common/obj/Debug/net6.0/Common.csproj.AssemblyReference.cache
Common/obj/Debug/net6.0/Common.csproj.CoreCompileInputs.cache
Common/obj/Debug/net6.0/Common.csproj.FileListAbsolute.txt
Common/obj/Debug/net6.0/Common.dll
Common/obj/Debug/net6.0/Common.GeneratedMSBuildEditorConfig.editorconfig
Common/obj/Debug/net6.0/Common.pdb
DAL/bin/Debug/net6.0/Common.dll
DAL/bin/Debug/net6.0/Common.pdb
DAL/bin/Debug/net6.0/DAL.dll
DAL/bin/Debug/net6.0/DAL.pdb
DAL/bin/Debug/net6.0/Entity.dll
DAL/bin/Debug/net6.0/Entity.pdb
DAL/obj/Debug/net6.0/DAL.assets.cache
DAL/obj/Debug/net6.0/DAL.csproj.AssemblyReference.cache
DAL/obj/Debug/net6.0/DAL.csproj.CoreCompileInputs.cache
DAL/obj/Debug/net6.0/DAL.csproj.FileListAbsolute.txt
DAL/obj/Debug/net6.0/DAL.dll
DAL/obj/Debug/net6.0/DAL.GeneratedMSBuildEditorConfig.editorconfig
DAL/obj/Debug/net6.0/DAL.pdb
DAL/obj/Debug/net6.0/ref/DAL.dll
DAL/obj/Debug/net6.0/refint/DAL.dll
Entity/bin/Debug/net6.0/Entity.dll
Entity/bin/Debug/net6.0/Entity.pdb
Entity/obj/Debug/net6.0/Entity.assets.cache
Entity/obj/Debug/net6.0/Entity.csproj.CoreCompileInputs.cache
Entity/obj/Debug/net6.0/Entity.csproj.FileListAbsolute.txt
Entity/obj/Debug/net6.0/Entity.GeneratedMSBuildEditorConfig.editorconfig
Entity/obj/Debug/net6.0/Entity.pdb
Entity/obj/Debug/net6.0/ref/Entity.dll
Entity/obj/Debug/net6.0/refint/Entity.dll
SGE/obj/Debug/net6.0-windows/SGE.assets.cache
SGE/obj/Debug/net6.0-windows/SGE.assets.cache
SGE/obj/Debug/net6.0-windows/SGE.csproj.CoreCompileInputs.cache
SGE/obj/Debug/net6.0-windows/SGE.csproj.FileListAbsolute.txt
SGE/obj/Debug/net6.0-windows/SGE.csproj.GenerateResource.cache
SGE/obj/Debug/net6.0-windows/SGE.designer.deps.json
SGE/obj/Debug/net6.0-windows/SGE.designer.runtimeconfig.json
SGE/obj/Debug/net6.0-windows/SGE.dll
SGE/obj/Debug/net6.0-windows/SGE.GeneratedMSBuildEditorConfig.editorconfig
SGE/obj/Debug/net6.0-windows/SGE.genruntimeconfig.cache
SGE/obj/Debug/net6.0-windows/SGE.pdb
